aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bokeh
certifi
cffi
charset-normalizer
click
colorcet
comm
contourpy
debugpy
decorator
defusedxml
et_xmlfile
executing
fastjsonschema
filelock
fqdn
frozenlist
fsspec
h11
hf-xet
holoviews
httpcore
httpx
huggingface_hub
hvplot
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
lark
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mpmath
multidict
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
openpyxl
packaging
pandas
pandocfilters
panel
param
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycparser
Pygments
python-dateutil
python-json-logger
pytz
pyviz_comms
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
safetensors
Send2Trash
setuptools
shellingham
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
triton
typer-slim
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xyzservices
yarl
